.table-row-cell:statusUnsaved { 
    -fx-control-inner-background: skyblue;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.table-row-cell:statusNew { 
    -fx-control-inner-background: wheat;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.table-row-cell:statusPlanned { 
    -fx-control-inner-background: white;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

/*
new - yellow already in original set
planned - white already in original set
loaded/en-route - orange
unloaded - green
entry/changed - blue -already in original set

*/
.table-row-cell:statusLoaded { 
    -fx-control-inner-background: darkorange;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.table-row-cell:statusUnloaded { 
    -fx-control-inner-background: mediumaquamarine;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

