<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" class="has-header" has-header="true" ng-controller="exportCtrl">
        <div class="list card">
            <div class="item item-divider">Export Criterias</div>
            <div class="item item-body">
                <div>
                    <ion-list>

                        <ion-checkbox ng-model="filters_shipments" ng-change="refresh()">Shipments</ion-checkbox>
                        <ion-checkbox ng-model="filters_orders" ng-change="refresh()">Orders</ion-checkbox>
                        <ion-checkbox ng-model="filters_rides" ng-change="refresh()">Rides</ion-checkbox>
                    </ion-list>
                    <button class="button icon ion-gear-a" ng-click="export()"> XML Export</button>
                </div>
            </div>  
        </div>
        <div>
            <ion-list>
                <ion-item ng-repeat="item in exportElements"
                          class="item-thumbnail-left">


                    <b>{{item.name}}</b> {{item.type}} {{item.href}}


                </ion-item>
            </ion-list>
        </div>




    </ion-content>
</ion-view>
