<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" class="has-header" has-header="true">
        jjjj
        <ion-header-bar class="bar-positive" left-buttons="leftButtons" >
            <div class="buttons">
                <button class="button button-icon icon ion-ios-plus-outline" ng-click="showForm()"></button>
                <button class="button button-icon icon ion-ios-minus-outline"
                        ng-click="data.showDelete = !data.showDelete;
                                    data.showReorder = false"></button>
            </div>
            <h1 class="title">Fleet</h1>
            <div class="buttons">
                <button class="button" ng-click="data.showDelete = false;
                            data.showReorder = !data.showReorder">
                    Reorder
                </button>
            </div>
        </ion-header-bar>

        <!ion-list ng-controller="fleetCtrl" show-delete="data.showDelete" show-reorder="data.showReorder"->
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="vehicle in vehicles"
                      option-buttons="itemButtons"
                      shipment="vehicle"
                      ui-sref="vehicle_details({vehicle vehicle.id})" 
                      class="item-remove-animate item item-complex item-right-editable">
                <ion-delete-button class="ion-minus-circled" 
                                   ng-click="onItemDelete({{vehicle}})">
                </ion-delete-button>

                <div class="{{shipment.status == 'started' ? 'positive' : 'dark'}}">Shipment {{vehicle.id}} - {{vehicle.name}} </br> </div>
                

                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(shipment, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>        

        </ion-list>




    </ion-content>
</ion-view>
