<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" class="has-header">


        <form name="shipmentCreationForm" novalidate="" ng-submit="createShipment(shipmentCreationForm)"> 
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Model</span>
                    <input type="text" placeholder="Model" ng-model="newShipment.name">
                </label>

            </div>
            <button class="button button-full button-positive" type="submit">
                Create
            </button>
        </form>
        <div class="button-bar"></div>
        <a href="#/logisense/fleet" class="button  button-icon  icon ion-arrow-left-a"></a>
    </ion-content>


</ion-view>