<ion-view title="Logisense App">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list></ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/logisense/shipments" class="button button-stable button-block ">Log in</a>
            
            
        </form>
    </ion-content>
</ion-view>