<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            
            <ion-toggle  ng-model="publishShipments.checked" toggle-class="toggle-positive" ng-checked="false" ng-change="onChange()" >Publish shipments</ion-toggle>
        </form>
    </ion-content>
</ion-view>