<ion-view title="Shipment id {{shipment.id}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <h2>Source</h2>
                <div>{{shipment.from}}
                </div>
                <h2>Destination</h2>
                <div>
                    {{shipment.to}}
                </div>
            </div>

        </div>
        
        <ion-list>

            <ion-item ng-repeat="capability in capabilities"
                      option-buttons="itemButtons"
                      shipment="shipment">

                <div>Capability {{capability.id}} - {{capability.name}}</div>
                <ion-option-button class="button-balanced" ng-click="onDispatch(capability,shipment )">
                    Dispatch
                </ion-option-button>
            </ion-item>        
        </ion-list>
        <div class="button-bar"></div>
        <a href="#/logisense/shipments" class="button  button-icon  icon ion-arrow-left-a"></a>
        
    </ion-content>
</ion-view>