<ion-view title="Shipment id {{shipment.name}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list">
            <!--<div class="item item-divider">{{shipment.shipmentLines[0].product}}</div>-->
            <div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                From
                            </div>

                            <label class="item item-input item-floating-label">
                                <span>Latitude</span>
                                {{shipment.from.latitude}}                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >longitude</span>
                                {{shipment.from.longitude}}
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >Name</span>
                                {{shipment.from.name}}
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >Address</span>
                                {{shipment.from.address}}                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >Postalcode</span>
                                {{shipment.from.postalcode}}                  
                            </label>

                            <label class="item item-input item-floating-label">
                                <span >City</span>
                                {{shipment.from.city}}
                            </label>
                            <label class="item item-input item-floating-label">
                                Country
                                <select ng-model="shipment.from.country" pvp-country-picker></select>
                            </label>

                            <div class="row">
                                <div class="col">

                                    <label class="item item-input item-floating-label">
                                        <span>Pickup time window </span>
                                    </label>
                                </div>
                                <div class="col">
                                    <md-content>
                                        <md-datepicker name="pickupDate" ng-model="pickupDate" md-placeholder="Enter date" ng-change="updatePickupDate(pickupDate)" required></md-datepicker>
                                    </md-content>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">

                                    <div class="item range">
                                        <i>From</i>

                                        <input type="range" name="pickupTimeWindowFrom" ng-model="pickupTimeWindowFromRangeValue"  ng-change="dragPickupFrom(pickupTimeWindowFromRangeValue)"/>
                                        <i>{{hourPickupTimeframeWindowFrom}}:{{minutePickupTimeframeWindowFrom}}</i>              
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="item range">
                                        <i>To</i>
                                        <input type="range" name="pickupTimeWindowTo" ng-model="pickupTimeWindowToRangeValue"  ng-change="dragPickupTo(pickupTimeWindowToRangeValue)"/>
                                        <i>{{hourPickupTimeframeWindowTo}}:{{minutePickupTimeframeWindowTo}}</i> 
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card">

                            <div class="item item-divider">
                                To
                            </div>
                            <label class="item item-input item-floating-label">
                                <span >Latitude</span>
                                {{shipment.to.latitude}}                
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >longitude</span>
                                {{shipment.to.longitude}}                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >Name</span>
                                {{shipment.to.name}}                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >Address</span>
                                {{shipment.to.address}}
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >Postalcode</span>
                                {{shipment.to.postalcode}}
                            </label>
                            <label class="item item-input item-floating-label">
                                <span >City</span>
                                {{shipment.to.city}}
                            </label>
                            <label class = "item item-input item-floating-label" >
                                Country
                                <select ng-model = "shipment.to.country" pvp-country-picker > </select>

                            </label>
                            <div class = "row" >
                                <div class = "col" >
                                    <label class = "item item-input item-floating-label" >
                                        <span > Delivery time window </span>

                                    </label>
                                </div>
                                <div class = "col" >
                                    <md-content >
                                        <md-datepicker name = "deliveryDate" ng-model = "deliveryDate" md-placeholder = "Enter date" ng-change = "updateDeliveryDate(deliveryDate)" required > </md-datepicker>
                                    </md-content>
                                </div>
                            </div>

                            <div class = "row" >
                                <div class = "col" >
                                    <div class = "item range" >
                                        <i> From </i>
                                        <input type = "range" name = "deliveryTimeWindowFrom" ng-model = "deliveryTimeWindowFromRangeValue"  ng-change = "dragDeliveryFrom(deliveryTimeWindowFromRangeValue)" / >
                                               <div> {{hourDeliveryTimeframeWindowFrom}}:{{minuteDeliveryTimeframeWindowFrom}}</div> 
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="item range">
                                        <i>To</i>
                                        <input type="range" name="deliveryTimeWindowTo" ng-model="deliveryTimeWindowToRangeValue" ng-change="dragDeliveryTo(deliveryTimeWindowToRangeValue)"/>
                                        <i>{{hourDeliveryTimeframeWindowTo}}:{{minuteDeliveryTimeframeWindowTo}}</i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span >Weight</span>
                            {{shipment.weight}}
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span >Size</span>
                            {{shipment.size}}
                        </label>
                    </div></div>

                <label class="item item-input item-floating-label">
                    <span >Note</span>
                    {{shipment.note}}
                </label>            
            </div>

        </div>

    </ion-content>
</ion-view>