<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <form name="shipmentCreationForm" novalidate="" ng-submit="createShipment(shipmentCreationForm)"> 
            <div class="list">

                <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                    <input name="name" type="text" placeholder="name" ng-model="newShipment.name" required>
                </label>
                <div ng-messages="shipmentCreationForm.name.$error">
                    <div ng-message="required" class="energized">Required field</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="item item-divider">
                                From
                            </div>

                            <label class="item item-input item-floating-label">
                                <span class="input-label">Latitude</span>
                                <input type="text" placeholder="Latitude" ng-model="newShipment.from.latitude"/>                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">longitude</span>
                                <input type="text" placeholder="longitude" ng-model="newShipment.from.longitude"/>                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="Name" ng-model="newShipment.from.name"/>                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Address</span>
                                <input type="text" placeholder="Address" ng-model="newShipment.from.address"/>                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Postalcode</span>
                                <input type="text" placeholder="Postalcode" ng-model="newShipment.from.postalcode"/>                  
                            </label>

                            <label class="item item-input item-floating-label">
                                <span class="input-label">City</span>
                                <input type="text" placeholder="City" ng-model="newShipment.from.city"/>
                            </label>
                            <label class="item item-input item-floating-label">
                                Country
                                <select ng-model="newShipment.from.country" pvp-country-picker></select>
                            </label>

                            <div class="row">
                                <div class="col">

                                    <label class="item item-input item-floating-label">
                                        <span>Pickup time window </span>
                                        <div ng-messages="shipmentCreationForm.pickupDate.$error">
                                            <div ng-message="required" class="energized">Required field</div>
                                        </div>

                                    </label>

                                </div>

                                <div class="col">
                                    <md-content>
                                        <md-datepicker name="pickupDate" ng-model="pickupDate" md-placeholder="Enter date" ng-change="updatePickupDate(pickupDate)" required></md-datepicker>
                                    </md-content>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">

                                    <div class="item range">
                                        <i>From</i>

                                        <input type="range" name="pickupTimeWindowFrom" ng-model="pickupTimeWindowFromRangeValue"  ng-change="dragPickupFrom(pickupTimeWindowFromRangeValue)"/>
                                        <i>{{hourPickupTimeframeWindowFrom}}:{{minutePickupTimeframeWindowFrom}}</i>              
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="item range">
                                        <i>To</i>
                                        <input type="range" name="pickupTimeWindowTo" ng-model="pickupTimeWindowToRangeValue"  ng-change="dragPickupTo(pickupTimeWindowToRangeValue)"/>
                                        <i>{{hourPickupTimeframeWindowTo}}:{{minutePickupTimeframeWindowTo}}</i> 
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card">

                            <div class="item item-divider">
                                To
                            </div>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Latitude</span>
                                <input type="text" placeholder="Latitude" ng-model="newShipment.to.latitude"/>                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">longitude</span>
                                <input type="text" placeholder="longitude" ng-model="newShipment.to.longitude"/>                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="Name" ng-model="newShipment.to.name"/>                  
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Address</span>
                                <input type="text" placeholder="Address" ng-model="newShipment.to.address"/>
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Postalcode</span>
                                <input type="text" placeholder="Postalcode" ng-model="newShipment.to.postalcode"/>
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">City</span>
                                <input type="text" placeholder="City"  ng-model="newShipment.to.city"/>
                            </label>
                            <label class="item item-input item-floating-label">
                                Country
                                <select ng-model="newShipment.to.country" pvp-country-picker></select>

                            </label>
                            <div class="row">
                                <div class="col">

                                    <label class="item item-input item-floating-label">
                                        <span>Delivery time window </span>
                                        <div ng-messages="shipmentCreationForm.deliveryDate.$error">
                                            <div ng-message="required" class="energized">Required field</div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col">
                                    <md-content>
                                        <md-datepicker name="deliveryDate" ng-model="deliveryDate" md-placeholder="Enter date" ng-change="updateDeliveryDate(deliveryDate)" required></md-datepicker>
                                    </md-content>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="item range">
                                        <i>From</i>
                                        <input type="range" name="deliveryTimeWindowFrom" ng-model="deliveryTimeWindowFromRangeValue"  ng-change="dragDeliveryFrom(deliveryTimeWindowFromRangeValue)"/>
                                        <div>{{hourDeliveryTimeframeWindowFrom}}:{{minuteDeliveryTimeframeWindowFrom}}</div> 
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="item range">
                                        <i>To</i>
                                        <input type="range" name="deliveryTimeWindowTo" ng-model="deliveryTimeWindowToRangeValue" ng-change="dragDeliveryTo(deliveryTimeWindowToRangeValue)"/>
                                        <i>{{hourDeliveryTimeframeWindowTo}}:{{minuteDeliveryTimeframeWindowTo}}</i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Weight</span>
                            <input type="text" placeholder="Weight" ng-model="newShipment.weight"/>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Size</span>
                            <input type="text" placeholder="Size" ng-model="newShipment.size"/>
                        </label>
                    </div></div>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Note</span>
                    <input type="text" placeholder="Note" ng-model="newShipment.note"/>
                </label>

            </div>

            <button class="button button-full button-positive" type="submit">
                Create
            </button>
        </form>

    </ion-content>


</ion-view>