<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" class="has-header" has-header="true">
        <ion-header-bar class="bar-positive" left-buttons="leftButtons" >
            <div class="buttons">
                <button class="button button-icon icon ion-ios-plus-outline" ng-click="showShipmentForm()"></button>
                <button class="button button-icon icon ion-ios-minus-outline"
                        ng-click="data.showDelete = !data.showDelete;
                                    data.showReorder = false"></button>
            </div>
            <h1 class="title">Shipments</h1>
            <div class="buttons">
                <button class="button" ng-click="data.showDelete = false;
                            data.showReorder = !data.showReorder">
                    Reorder
                </button>
            </div>
        </ion-header-bar>

        <div class="spacer" style="width: 285px; height: 40px;"></div>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="shipment in shipments"
                      option-buttons="itemButtons"
                      shipment="shipment"
                      ui-sref="shipment_details({shipment: shipment.id})" 
                      class="item-remove-animate item item-complex item-right-editable">
                <ion-delete-button class="ion-minus-circled" 
                                   ng-click="onItemDelete(shipment)">
                </ion-delete-button>

                <div class="{{shipment.status == 'NEW' ? 'positive' : 'dark'}}"> {{shipment.name}} - {{shipment.from.timeFrameFrom[2]}}/{{shipment.from.timeFrameFrom[1]}}/{{shipment.from.timeFrameFrom[0]}}  {{shipment.from.city != null?'from '+shipment.from.city : '' }} {{shipment.to.city != null?'from '+shipment.to.city : '' }} </div>
                <div ng-switch on="shipment.status"> 
                    <div ng-switch-when="NEW">
                        <ion-option-button class="button-assertive" ng-click="order(shipment)">
                            Order
                        </ion-option-button>
                        <ion-option-button class="button-balanced" ui-sref="shipment_dispatch({shipment: shipment.id})">
                            Dispatch
                        </ion-option-button>  
                        <ion-option-button class="button-calm" ng-click="deliver(shipment)">
                            Deliver
                        </ion-option-button>
                        <ion-option-button class="button-light" ng-click="cancel(shipment)">
                            Cancel
                        </ion-option-button>
                        <ion-option-button class="button-light" ng-click="exportXML(shipment)">
                            Export XML
                        </ion-option-button>
                    </div>
                    <div ng-switch-when="PROGRESS">
                        <ion-option-button class="button-assertive" ng-click="order(shipment)">
                            Order
                        </ion-option-button>
                        <ion-option-button class="button-balanced" ui-sref="shipment_dispatch({shipment: shipment.id})">
                            Dispatch
                        </ion-option-button>  
                        <ion-option-button class="button-calm" ng-click="deliver(shipment)">
                            Deliver
                        </ion-option-button>
                        <ion-option-button class="button-light" ng-click="cancel(shipment)">
                            Cancel
                        </ion-option-button>
                    </div>
                    <div ng-switch-when="HOLD">
                        <ion-option-button class="button-assertive" ng-click="order(shipment)">
                            Order
                        </ion-option-button>
                        <ion-option-button class="button-balanced" ui-sref="shipment_dispatch({shipment: shipment.id})">
                            Dispatch
                        </ion-option-button>  
                        <ion-option-button class="button-calm" ng-click="deliver(shipment)">
                            Deliver
                        </ion-option-button>
                        <ion-option-button class="button-light" ng-click="cancel(shipment)">
                            Cancel
                        </ion-option-button> 
                    </div>
                    <div ng-switch-when="CANCELED">
                        <!-- Waiting for new actions --> 
                    </div>
                </div>

                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(shipment, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>        

        </ion-list>




    </ion-content>
</ion-view>
