<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Map" icon="ion-map" href="#/logisense/map">
            <ion-nav-view name="Map"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Planning" icon="ion-clock" href="#/logisense/planning">
            <ion-nav-view name="planning"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Shipments" icon="ion-cube" href="#/logisense/shipments">
            <ion-nav-view name="shipments"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Fleet" icon="ion-android-bus" href="#/logisense/fleet">
            <ion-nav-view name="fleet"></ion-nav-view>
        </ion-tab>
        <ion-tab title="XML" icon="ion-code-download" href="#/logisense/export">
            <ion-nav-view name="export"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Profile" icon="ion-ios-contact" href="#/logisense/profile">
            <ion-nav-view name="profile"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-ios-cog" href="#/logisense/settings">
            <ion-nav-view name="settings"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>