<ion-view title="GPS" type="text/ng-template">
<!--    <ion-content has-header="true" padding="true">
        <leaflet id='map'  height="100%" width="100%" ng-init="doInit()"></leaflet>
    </ion-content>-->
</ion-view>

