<ion-view title="shipments">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="shipment in shipments" 
                      ui-sref="{{'shipment_details({shipment: $index})'}}" 
                      shipment="shipment">
                <div>Shipment {{shipment.id}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

