<ion-view title="Shipment {{shipment.id}}">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label item-assertive">Status</span>
                <input type="text" ng-model="shipment.status">
            </label>   
            <label class="item item-input">
                <span class="input-label">Pick up location</span>
                <input type="text" ng-model="shipment.details.pickUpLocation">
            </label>   
            <label class="item item-input">
                <span class="input-label">Delivery location</span>
                <input type="text" ng-model="shipment.details.deliveryLocation">
            </label>            
            <label class="item item-input">
                <span class="input-label">Route info</span>
                <input type="text" ng-model="shipment.details.routeInfo">
            </label>    
        </div>
    </ion-content>
</ion-view>


