.button {
    -fx-font-weight: bold;
}

.table-column .label {
    -fx-font-size: 10px;

}

.RideContent {
    -fx-background-color: #E6E6E6;
}

.RideCard {
    -fx-background-color: #00ffe9;
}


.DepartureDateAlert{
    -fx-background-color: #ff0000;
}

.DepartureDateDefault{
    -fx-background-color: #00ffe9;
}


.rideCard_class:statusNew { 
  -fx-text-fill: rgb(90%, 10%, 0%) ;
}
.rideCard_class:statusLoaded { 
  -fx-text-fill: rgb(10%, 90%, 0%) ;
}
.rideCard_class:statusPlanningInAdvance { 
  -fx-text-fill: rgb(0%, 90%, 10%) ;
}