.app-background {
    -fx-background-image: url("logisense_login.png"); 
    -fx-background-size: cover;
}

.app-main-area {
    -fx-background-color: black;
    -fx-opacity: 0.50;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
