/*
 Default row background is black 
.table-row-cell {
    -fx-background-color: greenyellow;
}

 Text in the rows will be white 
.table-row-cell .text {
       -fx-fill: red ;
}*/

.table-row-cell:statusNew { 
  -fx-control-inner-background: skyblue;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.table-row-cell:statusUnsaved { 
  -fx-control-inner-background: wheat;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.table-row-cell:statusRejected { 
  -fx-control-inner-background: tomato;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.table-row-cell:statusApproved { 
  -fx-control-inner-background: mediumaquamarine;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
